{%extends 'base.html'%}
{% block title%}Register Dentist{% endblock %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Register Dentist</h2>
            <form method="POST" action="{% url 'register_dentist' %}">
                {% csrf_token %}
                {{ dentist_form.as_p }}
                <button type="submit" class="bg-sky-800 text-white">Register</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}