{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-bold text-md">Diagnosis and Treatment</h1>
                <form class="max-w-4xl mx-auto bg-slate-800 p-6 px-12 rounded-lg shadow-lg mt-10" action="{% url 'treatment_diagnosis' %}" method="POST">
                    {% csrf_token %}
                
                    <div class="mb-5">
                        <label for="first-name" class="block mb-2 text-sm font-medium text-gray-300">First Name</label>
                        <input type="text" id="first-name" class="shadow-sm bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="{{ patient.first_name }}" required />
                    </div>

                    <div class="mb-5">
                        <label for="last-name" class="block mb-2 text-sm font-medium text-gray-300">Last Name</label>
                        <input type="text" id="last-name" class="shadow-sm bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="{{ patient.last_name }}" required />
                    </div>

                    <div class="mb-5">
                        <label for="patient_id" class="block mb-2 text-sm font-medium text-gray-300">Patient ID</label>
                        <input type="text" name="patient_id" id="phone" class="shadow-sm bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="{{ patient.id }}" required />
                    </div>

                    <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-300">Email</label>
                        <input type="email" id="email" name="email" class="shadow-sm bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="{{ patient.email }}" required />
                    </div>

                    <div class="mb-5">
                        <label for="phone" class="block mb-2 text-sm font-medium text-gray-300">Phone</label>
                        <input type="text" id="phone" class="shadow-sm bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="{{ patient.phone }}" required />
                    </div>

                    <!-- Message Textarea -->
                    <div class="mb-5">
                        <label for="diagnosis" class="block mb-2 text-sm font-medium text-gray-300">Diagnosis</label>
                        <textarea id="diagnosis" name="diagnosis_text" rows="4" class="block p-2.5 w-full text-sm text-gray-300 bg-gray-700 rounded-lg border border-gray-600 focus:ring-blue-500 focus:border-blue-500" placeholder="Write you diagnosis here..."></textarea>
                    </div>

                     <!-- Treament -->
                     <div class="mb-5">
                        <label for="treatment" class="block mb-2 text-sm font-medium text-gray-300">Treatment</label>
                        <textarea id="treatment" name="treatment_text" rows="4" class="block p-2.5 w-full text-sm text-gray-300 bg-gray-700 rounded-lg border border-gray-600 focus:ring-blue-500 focus:border-blue-500" placeholder="Write your treatment here..."></textarea>
                    </div>

                    <!-- services-->
                    <div class="mb-5">
                        <label for="services" class="block mb-2 text-sm font-medium text-gray-300">Service</label>
                            <select id="services" name="services" class="shadow-sm bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                                {% for service in services %}
                                <option value="{{ service.id }}">
                                    {{ service.name|default:"Unnamed Service" }}
                                
                                </option>
                                {% empty %}
                                    <option value="">No services available</option>
                                {% endfor %}
                            </select>
                    </div>

                    <div class="mb-5">
                        <label for="date" class="block mb-2 text-sm font-medium text-gray-300">Date</label>
                        <input type="date" id="date" name="date" class="shadow-sm bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    <!-- Submit Button -->
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-8 py-3 text-center w-full sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-4">Save</button>

                </form>

            </div>
        </div>
    </div>
{% endblock %}